<mat-nav-list>
  <a mat-list-item>
    <mat-icon mat-list-icon>dashboard</mat-icon><p mat-line> Dashboard </p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon><p mat-line> User Profile</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>content_paste</mat-icon><p mat-line> Table List</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>library_books</mat-icon><p mat-line> Typography</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>location_on</mat-icon><p mat-line> Maps</p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>calendar_today</mat-icon><p mat-line> Calendar</p>
  </a>
</mat-nav-list>
